<main>
    <div class="container body-content span=8 offset=2">
        <div class="window">
            <form class="form-horizontal" th:action="@{/beer-tag/beer/add-beer}" method="post"
                  enctype="multipart/form-data">
                <fieldset>
                    <legend class="legend">Add New Beer:</legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Picture:</label>
                        <div class="col-sm-4">
                            <input type="file" class="form-control" placeholder="Picture"
                                   name="picture"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Label:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="Label"
                                   name="label" required="required"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Style:</label>
                        <div class="col-sm-4">
                            <select class="form-control option-text" name="styleId">
                                <option value="" disabled selected>Select your option</option>
                                <option th:each="style : ${styles}" th:value="${style.id}"
                                        th:text="${style.type + ', ' + style.category}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Alcohol volume:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="Alcohol volume" name="abv"
                                   required="required"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Brewery:</label>
                        <div class="col-sm-4">
                            <select class="form-control option-text" name="breweryId">
                                <option value="" disabled selected>Select your option</option>
                                <option th:each="brewery : ${breweries}" th:value="${brewery.breweryId}"
                                        th:text="${brewery.brewery + ', ' + brewery.country.country}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Description:</label>
                        <div class="col-sm-6">
                            <textarea class="form-control" rows="6" placeholder="Description" name="description"
                                      required="required"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default-custom" th:href="@{/beer-tag/home}">Cancel</a>
                            <input value="Submit" type="submit" class="btn btn-success-custom"/>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</main>