<main>
    <div class="container body-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">

                    <div class="legend_table"><h4 class="table-head-txt">List of all beers</h4>

                        <select class="txt-black" onchange="filterOrSortChange('sortOrder', this.value)">
                            <option th:each="sort: ${sortings}" th:value="${sort.key}"
                                    th:text="${sort.value}" th:disabled="${sort.key==0}"
                                    th:selected="${sort.key==selectedSorting}"></option>
                        </select>

                        <select class="txt-black" onchange="filterOrSortChange('filterStyle', this.value)">
                            <option value="" disabled selected>Filter by style ...</option>
                            <option th:each="style : ${styles}" th:value="${style.id}"
                                    th:text="${style.type + ', ' + style.category}"
                                    th:selected="${style.id==filterByStyle}"
                            ></option>
                        </select>

                        <select class="txt-black" onchange="filterOrSortChange('filterCountry', this.value)">
                            <option value="" disabled selected>Filter by country ...</option>
                            <option th:each="country : ${countries}" th:value="${country.id}"
                                    th:text="${country.country}"
                                    th:selected="${country.id==filterByCountry}"
                            ></option>
                        </select>
                        <input class="txt-black" onkeyup="filterTag('tagFilter', this.value)" onblur="filterTagOnBlur()"
                               type="text" name="tagFilter" th:value="${filterByTag}" placeholder="Filter by tag ..."/>

                        <a class="btn btn-change-custom btn-xs"
                           th:href="@{/beer-tag/beers-list}"
                        ><i class="glyphicon glyphicon-refresh"></i> Refresh</a>

                    </div>

                    <div class="tables">
                        <table class="table table-style table-hover table-responsive" width="100%">
                            <col style="width:20%">
                            <col style="width:20%">
                            <col style="width:15%">
                            <col style="width:25%">
                            <col style="width:10%">
                            <col style="width:20%">
                            <thead>
                            <tr lang="en">
                                <th class="table-top-row-txt">Label</th>
                                <th class="table-top-row-txt">Style</th>
                                <th class="table-top-row-txt">Alcohol Volume</th>
                                <th class="table-top-row-txt">Brewery</th>
                                <th class="table-top-row-txt">Country</th>
                                <th class="table-top-row-txt">AVG Rating</th>
                                <th class="table-top-row-txt">Tags</th>
                                <th class="table-top-row-txt">Details</th>
                            </tr>
                            </thead>
                            <th:block th:each="beer : ${beers}">
                                <input type="hidden" name="id" th:value="${beer.id}">
                                <tbody>
                                <tr>
                                    <td class="table-row-txt" th:text="${beer.label}"></td>
                                    <td class="table-row-txt" th:text="${beer.style}"></td>
                                    <td class="table-row-txt" th:text="${beer.abv}"></td>
                                    <td class="table-row-txt" th:text="${beer.brewery}"></td>
                                    <td class="table-row-txt" th:text="${beer.country}"></td>
                                    <td class="table-row-txt" th:text="${beer.rating}"></td>
                                    <td class="table-row-txt" th:text="${beer.tags}"></td>
                                    <td><a class="btn btn-default btn-xs"
                                           th:href="@{/beer-tag/beer/{id}(id = ${beer.id})}">View &raquo;</a></td>
                                </tr>
                                </tbody>
                            </th:block>
                        </table>
                    </div>
                    <div>
                        <footer>
                            <div class="pull-right">
                                <a class="btn btn-default-custom btn-xs bt" th:href="@{/beer-tag/home}">Back &raquo;</a>
                            </div>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    function filterOrSortChange(key, value) {

        if ('URLSearchParams' in window) {
            var searchParams = new URLSearchParams(window.location.search);
            searchParams.set(key, value);
            window.location.search = searchParams.toString();
        }
    }

    function filterTag(key, value) {
        var clearValue = value.replace('#', '');
        if ('URLSearchParams' in window) {
            var searchParams = new URLSearchParams(window.location.search);
            searchParams.set(key, clearValue);
            window.history.replaceState({}, '', decodeURIComponent(location.pathname + '?' + searchParams));
        }
    }

    function filterTagOnBlur() {
        location.href = location.href;
    }
</script>