<main>
    <div class="container body-container">
        <div class="window">
            <div class="form-horizontal">
                <fieldset>
                    <legend class="legend"><strong> Beer Details:</strong></legend>

                    <div class="form-group">
                        <div class="col-sm-8 ">
                            <div class="image">
                                <img name="picture" th:onerror="this.style.display='none'"
                                     th:src="${beer.picture} == null ? _ : @{'data:image/png;base64,'+${beer.picture}}"/>
                            </div>
                        </div>
                    </div>

                    <div>
                        <a class="btn btn-change-custom btn-xs"
                           th:href="@{/beer-tag/beer/mark-beer/{id}(id=${beer.id})}"
                        ><i class="glyphicon glyphicon-flag"></i> Mark beer</a>

                        <a class="btn btn-change-custom btn-xs"
                           th:href="@{/beer-tag/beer/tag-beer/{id}(id=${beer.id})}"
                        ><i class="glyphicon glyphicon-pushpin"></i> Tag beer</a>

                        <a class="btn btn-change-custom btn-xs"
                           th:href="@{/beer-tag/beer/rate-beer/{id}(id=${beer.id})}"
                        ><i class="glyphicon glyphicon-thumbs-up"></i> Rate beer</a>
                    </div>
                    <div class="form-group form-window">
                        <label class="col-sm-3 control-label">Label:</label>
                        <div class="col-sm-8">
                            <p class="txt-description" th:text="${beer.label}"></p>
                        </div>

                        <label class="col-sm-3 control-label">Style:</label>
                        <div class="col-sm-8">
                            <p class="txt-description" th:text="${beer.style}"></p>
                        </div>

                        <label class="col-sm-3 control-label">Alcohol volume:</label>
                        <div class="col-sm-8">
                            <p class="txt-description" th:text="${beer.abv}"></p>
                        </div>

                        <label class="col-sm-3 control-label">Brewery:</label>
                        <div class="col-sm-8">
                            <p class="txt-description" th:text="${beer.brewery}"></p>
                        </div>

                        <label class="col-sm-3 control-label">Country:</label>
                        <div class="col-sm-8">
                            <p class="txt-description" th:text="${beer.country}"></p>
                        </div>

                        <label class="col-sm-3 control-label">Average Rating:</label>
                        <div class="col-sm-8">
                            <p class="txt-description" th:text="${beer.rating}"></p>
                        </div>

                        <label class="col-sm-3 control-label">Description:</label>
                        <div class="col-sm-8">
                            <p class="txt-description txt-align" th:text="${beer.description}"></p>
                        </div>

                        <label class="col-sm-3 control-label">Tags:</label>
                        <div class="col-sm-8">
                            <p class="txt-tag" th:text="${beer.tag}"></p>
                        </div>
                    </div>

                    <footer>
                        <div class="pull-right">
                            <form th:action="@{/beer-tag/beer/delete-beer/{id}(id=${beer.id})}" th:method="post">
                                <th:block sec:authorize="isAuthenticated()">
                                    <a class="btn btn-success-custom btn-xs"
                                       th:href="@{/beer-tag/beer/edit-beer/{id}(id = ${beer.id})}">Edit</a>

                                    <input type="submit" class="btn btn-danger-custom btn-xs"
                                           onclick="return confirm('Are you sure want to delete this beer?');"
                                           value="Delete"/>
                                </th:block>
                                <a class="btn btn-default-custom btn-xs bt" th:href="@{/beer-tag/home}">Cancel</a>
                            </form>
                        </div>
                    </footer>
                </fieldset>
            </div>
        </div>
    </div>
</main>
