<main>
    <div class="container body-content span=8 offset=2">
        <div class="window">
            <form class="form-horizontal" th:action="@{/beer-tag/beer/edit-beer}" method="post"
                  enctype="multipart/form-data">
                <fieldset>
                    <legend class="legend">Edit Beer:</legend>

                    <input type="hidden" name="id" th:value="${beer.id}">

                    <div class="form-group" onclick="openFileExplorer()">
                        <label class="col-sm-4 control-label">Picture:</label>
                        <div class="col-sm-4">
                            <div class="image">
                                <img name="beer_picture" id="beer_picture"
                                     th:onerror="this.style.display='run-in'" title="Click to change picture"
                                     th:src="${beer.beerPhoto} == null ? _ : @{'data:image/png;base64,'+${beer.beerPhoto}}"/>
                            </div>
                        </div>

                        <input style="display: none" type="file" class="form-control" id="beer_avatar"
                               placeholder="Picture"
                               name="picture"/>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Label:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control"
                                   name="label" th:value="${beer.label}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Style:</label>
                        <div class="col-sm-4">
                            <select class="form-control option-text" name="styleId">
                                <option value="" disabled selected>Select your option</option>
                                <option th:each="style : ${styles}" th:value="${style.id}"
                                        th:text="${style.type + ', ' + style.category}"
                                        th:selected="${style.id == beer.styleId}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Alcohol volume:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="abv" th:value="${beer.abv}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Brewery:</label>
                        <div class="col-sm-4">
                            <select class="form-control option-text" name="breweryId">
                                <option value="" disabled selected>Select your option</option>
                                <option th:each="brewery : ${breweries}" th:value="${brewery.breweryId}"
                                        th:text="${brewery.brewery + ', ' + brewery.country.country}"
                                        th:selected="${brewery.breweryId == beer.breweryId}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Description:</label>
                        <div class="col-sm-6">
                            <textarea class="form-control" rows="6" name="description"
                                      th:field=="${beer.description}"></textarea>
                        </div>
                    </div>

                    <footer>
                        <div class="pull-right">
                            <th:block sec:authorize="isAuthenticated()">
                                <input value="Submit" type="submit" class="btn btn-success-custom btn-xs"/>
                                <a class="btn btn-default-custom btn-xs"
                                   th:href="@{/beer-tag/beer/{id}(id = ${beer.id})}">Cancel</a>
                            </th:block>
                        </div>
                    </footer>
                </fieldset>
            </form>
        </div>
    </div>
</main>

<script>
    function openFileExplorer() {
        document.getElementById('beer_avatar').click();
    }

    var reader = new FileReader();
    var fileInput = document.getElementById("beer_avatar");
    var img = document.getElementById("beer_picture");
    reader.onload = function (e) {
        img.src = e.target.result;
    };
    fileInput.addEventListener('change', function (e) {
        var f = e.target.files[0];
        reader.readAsDataURL(f);
    });
</script>