<main>
    <div class="container body-content span=8 offset=2">
        <form class="form-horizontal"
              th:action="@{/beer-tag/beer/mark-beer/{id}(id=${beer.id})}" method="post"
              enctype="multipart/form-data">
            <div class="window">

                <fieldset>
                    <legend class="legend">Mark Beer:</legend>

                    <input type="hidden" name="id" th:value="${beer.id}">

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Label:</label>
                        <div class="col-sm-4">
                            <p class="txt-description" th:text="${beer.label}"></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">User:</label>
                        <div class="col-sm-4">
                            <select class="form-control option-text" name="user">
                                <option value="" disabled selected>Select your option</option>
                                <option th:each="user : ${users}" th:value="${user.userId}"
                                        th:text="${user.userFirstName + ' ' + user.userLastName}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Status:</label>
                        <div class="col-sm-4">
                            <select class="form-control option-text" name="status" id="cheers">
                                <option value="" disabled selected>Select your option</option>
                                <option th:each="mark : ${marks}" th:value="${mark.id}"
                                        th:text="${mark.status}"></option>
                            </select>
                        </div>
                    </div>
                    <footer>
                        <div class="pull-right">
                            <input value="Submit" type="submit" class="btn btn-success-custom btn-xs"/>
                            <a class="btn btn-default-custom btn-xs"
                               th:href="@{/beer-tag/beer/{id}(id = ${beer.id})}">Cancel</a>
                        </div>
                    </footer>
                </fieldset>
            </div>
        </form>
    </div>
</main>

<script type="text/javascript">
    var dropdown = document.getElementById("cheers");
    dropdown.onchange = function () {
        if (dropdown.value === "1") {
            Swal.fire({
                position: 'center',
                type: 'success',
                title: 'Cheers for your good taste!',
                showConfirmButton: false,
                timer: 1600
            })
        }
    }
</script>