<main>
    <div class="container body-content span=8 offset=2">
        <form class="form-horizontal"
              th:action="@{/beer-tag/beer/rate-beer/{id}(id=${beer.id})}" method="post"
              enctype="multipart/form-data">
            <div class="window">

                <fieldset>
                    <legend class="legend">Rate Beer:</legend>

                    <input type="hidden" name="id" th:value="${beer.id}">

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Label:</label>
                        <div class="col-sm-4">
                            <p class="txt-description" th:text="${beer.label}"></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">User:</label>
                        <div class="col-sm-4">
                            <select class="form-control option-text" name="user">
                                <option value="" disabled selected>Select your option</option>
                                <option th:each="user : ${users}" th:value="${user.userId}"
                                        th:text="${user.userFirstName + ' ' + user.userLastName}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Rating:</label>
                        <div class="col-sm-4">
                            <select class="form-control option-text" name="rating">
                                <option value="" disabled selected>Select your option</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                    <footer>
                        <div class="pull-right">
                            <input value="Submit" type="submit" class="btn btn-success-custom btn-xs"/>
                            <a class="btn btn-default-custom btn-xs"
                               th:href="@{/beer-tag/beer/{id}(id = ${beer.id})}">Cancel</a>
                        </div>
                    </footer>
                </fieldset>
            </div>
        </form>
    </div>
</main>