<main>
    <div class="container body-content span=8 offset=2">
        <form class="form-horizontal"
              th:action="@{/beer-tag/beer/tag-beer/{id}(id=${beer.id})}" method="post"
              enctype="multipart/form-data">
            <div class="window">

                <fieldset>
                    <legend class="legend">Tag Beer:</legend>

                    <input type="hidden" name="beerId" th:value="${beer.id}">

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Label:</label>
                        <div class="col-sm-4">
                            <p class="txt-description" th:text="${beer.label}"></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Tag:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="Enter Tag"
                                   name="tag" required="required"/>
                        </div>
                    </div>

                    <footer>
                        <div class="pull-right">
                            <input value="Submit" type="submit" class="btn btn-success-custom btn-xs"/>
                            <a class="btn btn-default-custom btn-xs"
                               th:href="@{/beer-tag/beer/{id}(id = ${beer.id})}">Cancel</a>
                        </div>
                    </footer>
                </fieldset>
            </div>
        </form>
    </div>
</main>