<main>
    <div class="container body-content span=8 offset=2">
        <form class="form-horizontal"
              th:action="@{/beer-tag/user/change-role/{id}(id=${user.id})}" method="post"
              enctype="multipart/form-data">
            <div class="window">

                <fieldset>
                    <legend class="legend">Change User Role:</legend>

                    <input type="hidden" name="id" th:value="${user.id}">
                    <input type="hidden" name="userName" th:value="${user.userName}">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Username:</label>
                        <div class="col-sm-4">
                            <p class="txt-description" th:text="${user.userName}"></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Current role:</label>
                        <div class="col-sm-4">
                            <select class="form-control option-text" name="roleId">
                                <option th:each="role : ${roles}" th:value="${role.userRoleId}"
                                        th:text="${role.role}" th:selected="${role.userRoleId == user.roleId}"></option>
                            </select>
                        </div>
                    </div>
                    <footer>
                        <div class="pull-right">
                            <input value="Submit" type="submit" class="btn btn-success-custom btn-xs"/>
                            <a class="btn btn-default-custom btn-xs"
                               th:href="@{/beer-tag/user/edit-user/{id}(id = ${user.id})}">Cancel</a>
                        </div>
                    </footer>
                </fieldset>
            </div>
        </form>
    </div>
</main>