<main>
    <div class="container body-container">
        <div class="window">
            <form class="form-horizontal" th:action="@{/beer-tag/user/edit-user}" method="post"
                  enctype="multipart/form-data">
                <fieldset>

                    <legend class="legend">Edit User Profile:</legend>

                    <input type="hidden" name="userId" th:value="${user.userId}">

                    <div class="form-group" onclick="openFileExplorer()">
                        <label class="col-sm-4 control-label">Picture:</label>
                        <div class="col-sm-4">
                            <div class="image">
                                <img name="user_picture" id="user_picture"
                                     th:onerror="this.style.display='run-in'" title="Click to change picture"
                                     th:src="${user.userPhoto} == null ? _ : @{'data:image/png;base64,'+${user.userPhoto}}"/>
                            </div>
                        </div>

                        <input style="display: none" type="file" class="form-control" id="user_avatar"
                               placeholder="Picture"
                               name="picture"/>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-4 control-label"></label>
                        <div class="col-sm-4">
                            <div>
                                <a class="btn btn-change-custom btn-xs"
                                   th:href="@{/beer-tag/user/change-role/{id}(id=${user.userId})}"><i
                                        class="glyphicon glyphicon-user"></i> Change role</a>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">First name:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control"
                                   name="firstName" th:value="${user.firstName}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Last name:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control"
                                   name="lastName" th:value="${user.lastName}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Email:</label>
                        <div class="col-sm-4">
                            <input type="email" class="form-control" name="email"
                                   th:value="${user.email}"/>
                        </div>
                    </div>

                    <footer>
                        <div class="pull-right">
                            <th:block sec:authorize="isAuthenticated()">
                                <input value="Submit" type="submit" class="btn btn-success-custom btn-xs"/>
                                <a class="btn btn-default-custom btn-xs"
                                   th:href="@{/beer-tag/user-profile/{id}(id = ${user.userId})}">Cancel</a>
                            </th:block>
                        </div>
                    </footer>
                </fieldset>
            </form>
        </div>
    </div>
</main>

<script>
    function openFileExplorer() {
        document.getElementById('user_avatar').click();
    }

    var reader = new FileReader();
    var fileInput = document.getElementById("user_avatar");
    var img = document.getElementById("user_picture");
    reader.onload = function (e) {
        img.src = e.target.result;
    };
    fileInput.addEventListener('change', function (e) {
        var f = e.target.files[0];
        reader.readAsDataURL(f);
    });
</script>