<main>
    <div class="container body-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <div class="legend_table"><h4 class ="table-head-txt">Favorite beers:</h4></div>
                    <div class="tables">
                        <table class = "table table-style table-responsive" width="60%">
                            <col style="width:20%">
                            <col style="width:15%">
                            <col style="width:15%">
                            <col style="width:18%">
                            <col style="width:12%">
                            <col style="width:10%">
                            <thead>
                            <tr lang="en">
                                <th class="table-top-row-txt">Beer Label</th>
                                <th class="table-top-row-txt">Beer Style</th>
                                <th class="table-top-row-txt">Alcohol Volume</th>
                                <th class="table-top-row-txt">Brewery</th>
                                <th class="table-top-row-txt">Country</th>
                                <th class="table-top-row-txt">Rating</th>
                                <th class="table-top-row-txt">Mark</th>
                            </tr>
                            </thead>
                            <th:block th:each="beer : ${beers}">
                                <tbody>
                                <tr>
                                    <td class="table-row-txt" th:text="${beer.beerLabel}"></td>
                                    <td class="table-row-txt" th:text="${beer.beerStyle}"></td>
                                    <td class="table-row-txt" th:text="${beer.abv}"></td>
                                    <td class="table-row-txt" th:text="${beer.brewery}"></td>
                                    <td class="table-row-txt" th:text="${beer.country}"></td>
                                    <td class="table-row-txt" th:text="${beer.rating}"></td>
                                    <td class="table-row-txt" th:text="${beer.mark}"></td>
                                </tr>
                                </tbody>
                            </th:block>
                        </table>
                    </div>
                    <div>
                        <footer>
                            <div class="pull-right">
                                <a class="btn btn-default-custom btn-xs bt" th:href="@{/beer-tag/users-list}">Cancel</a>
                            </div>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>