<main>
    <div class="container body-content span=8 offset=2">
        <div class="window">
            <form class="form-horizontal" th:action="@{/login}" method="post">
                <fieldset>
                    <legend class="legend">Login:</legend>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Username:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="user_name" placeholder="Username" name="user_name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Password:</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" id="password" placeholder="Password" name="password"/>
                        </div>
                    </div>

                    <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default-custom" th:href="@{/beer-tag/home}">Cancel</a>
                            <button type="submit" class="btn btn-success-custom">Login</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</main>
