<main>
    <div class="container body-container">
        <div class="window">
            <div class="form-horizontal" method="post">
                <fieldset>

                    <legend class="legend"><strong> User Profile:</strong></legend>

                    <div class="form-group">
                        <div class="col-sm-4">
                            <div class="image">
                                <img name="user_picture" th:onerror="this.style.display='none'"
                                     th:src="${user.picture} == null ? _ : @{'data:image/png;base64,'+${user.picture}}"/>
                            </div>
                        </div>
                    </div>

                    <div>
                        <a class="btn btn-change-custom btn-xs"
                           th:href="@{/beer-tag/user/favorite-beers/{id}(id=${user.id})}"><i
                                class="glyphicon glyphicon-star"></i> Favorite beers</a>
                    </div>

                    <div class="form-window">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">First name:</label>
                            <div class="col-sm-4">
                                <p class="txt-description" th:text="${user.firstName}"></p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Last name:</label>
                            <div class="col-sm-4">
                                <p class="txt-description" th:text="${user.lastName}"></p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Email:</label>
                            <div class="col-sm-4">
                                <p class="txt-description" th:text="${user.email}"></p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Role:</label>
                            <div class="col-sm-4">
                                <p class="txt-description" th:text="${user.role}"></p>
                            </div>
                        </div>
                    </div>
                    <footer>
                        <div class="pull-right">
                            <form th:action="@{/beer-tag/user/delete-user/{id}(id=${user.id})}" th:method="post">
                                <th:block sec:authorize="isAuthenticated()">
                                    <a class="btn btn-success-custom btn-xs"
                                       th:href="@{/beer-tag/user/edit-user/{id}(id = ${user.id})}">Edit</a>
                                    <input type="submit" class="btn btn-danger-custom btn-xs "
                                           onclick="return confirm('Are you sure want to delete this user?');"
                                           value="Delete"/>
                                </th:block>
                                <a class="btn btn-default-custom btn-xs bt" th:href="@{/beer-tag/users-list}">Cancel</a>
                            </form>
                        </div>
                    </footer>
                </fieldset>
            </div>
        </div>
    </div>
</main>
