<main>
    <div class="container body-content span=8 offset=2">
        <div class="window">
            <form class="form-horizontal" th:action="@{/beer-tag/register}" method="post" enctype="multipart/form-data">
                <fieldset>
                    <legend class="legend">User Registration:</legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Picture:</label>
                        <div class="col-sm-4">
                            <input type="file" class="form-control" placeholder="Picture"
                                   name="picture"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">First name:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="First name"
                                   name="firstName" required="required"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Last name:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="Last name"
                                   name="lastName" required="required"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Email:</label>
                        <div class="col-sm-4">
                            <input type="email" class="form-control" placeholder="Email" name="email"
                                   required="required"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Username:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="User name"
                                   name="userName" required="required"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Password:</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" placeholder="Password"
                                   name="password" required="required"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Confirm password:</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" placeholder="Confirm password"
                                   name="confirmPassword" required="required"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default-custom" th:href="@{/beer-tag/home}">Cancel</a>
                            <input value="Submit" type="submit" class="btn btn-success-custom"/>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</main>