<main>
    <div class="container body-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <div class="legend_table"><h4 class ="table-head-txt">List of all registered users</h4></div>
                    <div class="tables">
                        <table class = "table table-style table-hover table-responsive" width="100%">
                            <col style="width:10%">
                            <col style="width:20%">
                            <col style="width:20%">
                            <col style="width:20%">
                            <col style="width:15%">
                            <col style="width:13%">
                            <thead>
                            <tr lang="en">
                                <th class="table-top-row-txt">Id</th>
                                <th class="table-top-row-txt">First Name</th>
                                <th class="table-top-row-txt">Last Name</th>
                                <th class="table-top-row-txt">Email</th>
                                <th class="table-top-row-txt">Username</th>
                                <th class="table-top-row-txt">Role</th>
                                <th class="table-top-row-txt">Profile</th>
                            </tr>
                            </thead>
                            <th:block th:each="user : ${users}">
                                <tbody>
                                <tr>
                                    <td class="table-row-txt" th:text="${user.id}"></td>
                                    <td class="table-row-txt" th:text="${user.firstName}"></td>
                                    <td class="table-row-txt" th:text="${user.lastName}"></td>
                                    <td class="table-row-txt" th:text="${user.email}"></td>
                                    <td class="table-row-txt" th:text="${user.userName}"></td>
                                    <td class="table-row-txt" th:text="${user.role}"></td>
                                    <td><a class="btn btn-default btn-xs" th:href="@{/beer-tag/user-profile/{id}(id = ${user.id})}">View &raquo;</a></td>
                                </tr>
                                </tbody>
                            </th:block>
                        </table>
                    </div>
                    <div>
                        <footer>
                            <div class="pull-right">
                                <a class="btn btn-default-custom btn-xs bt" th:href="@{/beer-tag/home}">Back &raquo;</a>
                            </div>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>