<footer th:fragment="footer">
    <div class="container modal-footer">
        <p class="team">&#8618; Team 7: Ognyan Dimitrov & Pavel Karaivanov</p>
        <p class="academy">Telerik Academy - 2019</p>
    </div>
</footer>