<header  th:fragment="header">
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a th:href="@{/beer-tag/home}" class="navbar-brand">BEER TAG</a>

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">

                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/beer-tag/users-list}">
                            USERS
                        </a>
                    </li>

                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/beer-tag/beers-list}">
                            BEERS
                        </a>
                    </li>

                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/beer-tag/user-profile/1}">
                            MY PROFILE
                        </a>
                    </li>

                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/beer-tag/beer/add-beer}">
                            ADD BEER
                        </a>
                    </li>

                    <li sec:authorize="isAnonymous()">
                        <a th:href="@{/beer-tag/register}">
                            REGISTER
                        </a>
                    </li>
                    <li sec:authorize="isAnonymous()">
                        <a th:href="@{/beer-tag/login}">
                            LOGIN
                        </a>
                    </li>

                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/beer-tag/home}">
                            LOGOUT
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>