<head th:fragment="head">
    <title th:if="${pageTitle}" th:text="${pageTitle}"></title>
    <link th:href="@{/css/intro.css}" rel="stylesheet" type="text/css"/>
    <link rel="icon" th:href="@{/images/icons/tab_logo.png}">
</head>
