@import "style.css";

.navbar-default {
@extend navbar-default;
    background-color: rgba(0, 0, 0, 0.6);
}

.navbar-brand {
@extend navbar-brand;
    font-size: 25px;
    font-weight: bolder;
}

body {
@extend body;
    background: url("https://images.pexels.com/photos/347139/pexels-photo-347139.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat center center fixed;
}

.window {
@extend . well min-height: 20 px;
    padding: 19px;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;;
    border: 2px solid black;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.row-top{
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;;
    border: 2px solid black;
    margin-bottom: 30px
}

.form-window {
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid black;
}

img.icon_window {
    width: 3%;
    height: auto;
    offset-before: 3px;
}
.image {
    width: 200px;
    height:200px;
    border:solid black;
}
.image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.zoom {
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(1.1);
}

.form-control[disabled] {
@extend . form-control [ disabled ] background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid black;
}

.form-control {
@extend . form-control background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid black;
}

div.tables {
@extend div . table-background;
    background-color: rgba(0, 0, 0, 0.4);
    border: black;
}

div.legend_table {
    font-weight: bolder;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    height: 50%;
    margin-top: 20px;
}

h4.table-head-txt {
    font-weight: bolder;
    color: white;
    margin-left: 10px;
}

th.table-top-row-txt {
    font-weight: bolder;
    color: white;
}

td.table-row-txt {
    color: white;
}

.btn {
@extend . btn;
    border-width: 1px;
}

.btn-default {
@extend . btn-default;
    background-color: rgba(0, 0, 0, 0.4);
    border-color: black;
}

.btn-default-custom {
    background-color: rgba(102, 102, 102, 0.5);
    border-color: black;
    color: black;
    font-size: 15px;
    margin-top: 5px;
}

.btn-change-custom {
    background-color: rgba(255, 203, 5, 0.8);
    border-color: black;
    height: 30px;
    color: black;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 9px;

}


.btn-success-custom {
    background-color: rgba(46, 204, 113, 0.5);
    /*color: #ffffff;*/
    border-color: black;
    color: black;
    font-size: 15px;
    margin-top: 5px;
}

.btn-danger-custom {
    background-color: rgba(217, 30, 24, 0.5);
    /*color: #ffffff;*/
    border-color: black;
    color: black;
    font-size: 15px;
    margin-top: 5px;
}

/* Style buttons */
.btn-icon {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn-icon:hover {
    background-color: RoyalBlue;
}

.legend {
    font-weight: bolder;
    color: white;
    font-size: 20px;
}
.txt-black {
    font-weight: bolder;
    color: black;
}

.txt-description {
    color: white;
    font-size: 16px;
    font-weight: normal;
    padding-top: 12px;
}

.txt-align {
    text-align: justify;
}

.txt-delete {
    color: white;
    font-size: 14px;
    font-weight: normal;
}

.txt-bold {
    color: white;
    font-size: 20px;
    font-weight: bolder;
}

.txt-tag {
    color: white;
    font-size: 16px;
    font-weight: bolder;
    font-family: "Comic Sans MS", fantasy;
    padding-top: 12px;
}

.control-label {
    font-size: 16px;
    font-weight: bolder;
    color: white;
}

p.team {
    font-weight: bolder;
    color: black;
}

p.academy {
    font-weight: bolder;
    color: black;
}

/* Dropdown menu */

.option-text {
    font-weight: bolder;
}

/* -----------------------------Msg tooltip hover wit mouse------------------------------ */
