<main>
    <div class="container body-content">
        <div class="row">
            <th:block th:each="beer: ${beers}">
                <div class="col-sm-3">
                    <header class="header-border">
                        <div class="image zoom">
                            <img name="picture"
                                 th:onclick="'window.location.href= \''+ @{/beer-tag/beer/{id}(id = ${beer.id})} + '\''"
                                 th:src="${beer.picture} == null ? _ : @{'data:image/png;base64,'+${beer.picture}}"/>
                        </div>
                    </header>

                    <h4 class="txt-black" th:text="${beer.label}"></h4>
                </div>
            </th:block>
        </div>
    </div>
</main>