<main>
    <div class="container body-content span=8 offset=2">

        <div class='wrap'>
            <h2>Beer</h2>
            <h1>Tag</h1>

            <div class="box-intro">
                <p class="greeting">WELCOME, FRIEND<br>(OF LEGAL DRINKING AGE)</p>
                <p class="terms">By entering, you agree to our Terms and Conditions and Privacy Policy.</p>
                <p class="enter-link"><a onclick="play()" class="enter-link" th:href="@{/beer-tag/home}">Accept & continue</a></p>
            </div>
            <div class='beer'>
                <div class='inner'></div>
                <div class='foam'>
                    <div class='drip'></div>
                    <div class='drip'></div>
                </div>
            </div>
            <div class='wheat'>
                <div class='inner'></div>
            </div>
        </div>
    </div>
</main>